.footer-container {
  background: linear-gradient(45deg, rgba(156, 14, 156, 1), $quaternary);
  color: white;
  display: flex;
  justify-content: center;
  padding: $xsmall;

  clear: both;
  position: relative;
  margin-top: -1px;
}
.footer {
  display: flex;
  flex-direction: row;
  a {
    color: white;
    text-decoration: none;
    padding-left: $xsmall;
  }
}
