.content-container__connect {
  * {
    text-decoration: none;
    text-transform: capitalize;
    color: black;
  }
  margin: $medium auto;
  padding: $medium $small;
  width: 100%;

  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  background: fade-out($color: white, $amount: 0);
  border-radius: $small;
}

.connect__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: $xlarge;
}

.location-frame {
  width: 100%;
  height: 250px;
  border: none;
  border-radius: $small;
}
.connect-details {
  > * {
    p:nth-child(1) {
      font-weight: bold;
      overflow-wrap: normal;
    }
    p:nth-child(2) {
      margin-left: $medium;
      overflow-wrap: anywhere;
    }
    p:nth-child(3) {
      margin-left: $medium;
      overflow-wrap: anywhere;
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  .content-container__connect {
    max-width: 90rem;
  }
  .connect__bottom {
    flex-direction: row;
    justify-content: flex-start;
  }
  .location-frame {
    width: 600px;
    height: 400px;
    border: none;
    border-radius: $small;
  }
  .connect-details {
    margin-left: $large;
  }
}

.connect-form__parent {
  margin-top: $medium;
  margin-bottom: 3 * $large;
}
