.box-layout {
  align-items: center;
  // background: url("/public/images/connect.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  // height: 100vh;
  width: 100vw;
}

.box-layout__box {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  background: fade-out($color: white, $amount: 0);
  border-radius: 3px;
  padding: $large $medium;
  margin-top: $medium;
  text-align: center;
  width: 34rem;
  height: 80vh;

  p {
    padding-bottom: $medium;
  }
}
.box-layout__box {
  h3 {
    margin-bottom: $large;
  }
}
.box-layout__title {
  color: $quaternary;
  margin: 0 0 $small 0;
  line-height: 1;
}
