.home-page-container {
  margin: 0 0 2 * $xlarge 0;
  padding: $xlarge $small;
  width: 95vw;
  // background: white;
}

.home-header-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column-reverse;
  // width: 80vw;
  // margin: 0 $xlarge $large $xlarge;

  .home-header {
    // background: red;
    margin: $large 0;
    h3 {
      font-size: large;
    }
    h2 {
      font-size: $large;
      line-height: $large;
    }
    .second{
      margin-left: $xsmall;
    }
    .home-header__button {
      margin-top: $medium;
    }
  }
  .home-header-image {
    // background: blue;
    display: flex;
    justify-content: center;
    img {
      // display: flex;
      // margin-left: auto;
      // margin-right: auto;
      width: 50%;
    }
  }
}

.card-content {
  margin: $medium 0;
  // background: white;
  border-radius: $medium;

  // border-radius: 3px;
  // padding: $medium 0;
}

.card {
  display: flex;
  flex-direction: column;
  margin: $medium 0;
  padding: $medium $small;
  align-items: center;

  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  background: fade-out($color: white, $amount: 0);
  border-radius: $small;
  // background: red;
  // justify-content: center;

  .card__left {
    align-items: center;
    // margin-right: 6 * $large;
    h4 {
      font-size: $large;
      line-height: $large;
    }
    p {
      margin-top: $medium;
      color: rgb(88, 88, 88);
    }
  }
  .card__right {
    margin-top: $medium;

    img {
      border-radius: $medium;
      height: 100%;
      width: 100%;
    }
  }
}

@media (min-width: $desktop-breakpoint) {
  .home-page-container {
    margin: 0 auto;
    padding: $xlarge $medium;
    width: 80vw;
  }
  .home-header-content {
    display: flex;
    flex-direction: row;
    margin: 0 $xlarge;
    // justify-content: space-between;
  }
  .home-header {
    flex: 1;
    // background: red;
    // margin: $large 0;
    h3 {
      // font-size: $font-size-large;
    }
    h2 {
      // font-size: $font-size-large;
      // line-height: $large;
    }
  }
  .home-header-image {
    flex: 2;
    // background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-content {
    margin: $xlarge 0;
  }

  .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: $medium 0;
    padding: $xlarge $large;
    align-items: flex-start;

    .card__left {
      flex: 2;
      // background: red;
      h4 {
        // font-size: $large;
        // line-height: $large;
      }
      p {
        margin-top: $medium;
        // color: gray;
      }
    }
    .card__right {
      flex: 3;
      // background: blue;
      margin-top: 0;
      display: flex;
      justify-content: end;
      align-items: center;

      img {
        border-radius: $medium;
        // flex: 2;
        // background: blue;
        width: 80%;
        height: 80%;
      }
    }
  }
}
