.input-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: $small;

  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    margin-bottom: $small;
  }
}

.input-group__item {
  margin-bottom: $xsmall;

  @media (min-width: $desktop-breakpoint) {
    // // margin-right: $s-size;
    // margin: 0 $s-size 0 0;
  }
}
