.login {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  min-width: 410px;
  width: 25%;
  background: $quaternary;
  border-radius: $small;
  color: white;
  padding-top: $medium;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  background: linear-gradient(45deg, rgba(156, 14, 156, 1), $quaternary);
}
.login-header-content {
  text-align: center;

  h2 {
    font-size: $large;
    font-weight: normal;
  }
  h3 {
    font-size: 2rem;
    font-weight: normal;
  }
}
