* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // color: white;
}
html {
  font-size: 62%;
}
body {
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  font-size: $medium;
  line-height: 1.6;
  background-color: $background;
  // min-height: 100vh;
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: default;
}
.is-active {
  font-weight: bold;
}

a {
  text-decoration: none;
}
