// colors
// $primary: #7189bf;
// $secondary: #df7599;
// $tertiary: #ffc785;
// $quaternary: #ffbd69;

// colors
$background: #eff1f2;
$primary: #364f6b;
$secondary: #3fc1c9;
$tertiary: #f5f5f5;
$quaternary: #fc5185;

$disabled: #72d6c9;

// spacing
$xsmall: 0.8rem;
$small: 1.2rem;
$medium: 1.6rem;
$large: 3.2rem;
$xlarge: 4.8rem;

// breakpoints
$mobile-breakpoint: "(max-width: 499px)";
$tablet-breakpoint: "(min-width: 500px) and (max-width: 1000px)";
$desktop-breakpoint: "(min-width: 1001px)";
